@inject IOptions<SmartSettings> Settings
@inject UserManager<ApplicationUser> UserManager
@using ElGasSeguimientoWeb.Utils

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
    <!-- User info -->
    <div class="login-info">
        <span>
            <a href="javascript:void(0);">
                @{var user = await UserManager.FindByEmailAsync(User.Identity.Name);}
                <span class="col col-lg-12">@user.Name @user.LastName</span>
            </a>
        </span>
    </div>


    @{ if (User.IsInRole(Role.Administrador))
        {
            <nav>
                <ul>
                    <li is-active-route asp-controller="Users">
                        <a href="#" title="Administrar">
                            <i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent"> Administrar</span>
                        </a>
                        <ul>
                            <li is-active-route asp-controller="Account" asp-action="Index">
                                <a asp-controller="Users" asp-action="Index" title="Usuarios">
                                    <i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Usuarios</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li is-active-route asp-controller="Home">
                        <a href="#" title="Mapa">
                            <i class="fa fa-lg fa-fw fa-globe"></i> <span class="menu-item-parent">Mapa</span>
                        </a>
                        <ul>
                            <li is-active-route asp-controller="Home" asp-action="Index">
                                <a asp-controller="Home" asp-action="Index" title="Dashboard">
                                    <span class="menu-item-parent">Tiempo real</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        }
    }

    @{ if (User.IsInRole(Role.Distribuidor))
        {
            <nav>
                <ul>
                    <li is-active-route asp-controller="Home">
                        <a href="#" title="Mapa">
                            <i class="fa fa-lg fa-fw fa-globe"></i> <span class="menu-item-parent">Mapa</span>
                        </a>
                        <ul>
                            <li is-active-route asp-controller="Home" asp-action="Index">
                                <a asp-controller="Home" asp-action="Index" title="Dashboard">
                                    <span class="menu-item-parent">Tiempo real</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        }
    }
</aside>
<!-- END NAVIGATION -->
